name: PR Workflow

on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    container: golang:1.23.3-alpine3.20
    continue-on-error: false
    name: checks
    steps:
      - name: checkout
        id: checkout
        uses: actions/checkout@v3
      - name: install prerequisites
        run: |
          apk add --update --no-cache --repository https://dl-4.alpinelinux.org/alpine/latest-stable/community/ build-base gcc make git librdkafka-dev pkgconf curl
      - name: generate proto
        run: |
          make proto-generate
      - name: golint-check
        run: |
          make golint-check
      - name: goimports-check
        run: |
          make goimports-check
      - name: Run Tests
        run: |
           go test ./... -covermode=count -coverprofile=coverage.out
           go tool cover -func=coverage.out -o=coverage-summary.out
      - name: Upload Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage-summary.out